# necessary for the package
scipy==1.14.1
numpy==2.1.1
matplotlib==3.9.2
ipympl==0.9.4
mpl_interactions==0.24.2

## necessary for tests
mockito==1.5.1

# necessary for code formatting
black==24.8.0

## code formatting in jupyter notebooks
jupyter-black==0.4.0

# necessary for the jupyter notebook
ipython==8.27.0
jupyter==1.1.1

## necessary for interactive plots in jupyter notebooks
ipywidgets==8.1.5

# necessary for the documentation
pdoc==14.7.0