# necessary for the package
scipy~=1.7.3
numpy>=1.21.6
matplotlib>=3.5.1

# nesseary for code formatting
black==22.3.0

# necessary for the jupyter notebook
ipython>=7.32.0
jupyter>=1.0.0

# necessary for the documentation
pdoc==11.0.0
